*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #f1f3f4;
	font-family: sans-serif;
}

.top-nav-bar
{
	height: 57px !important;
	position: sticky !important;
	background: #fff !important;
	margin-bottom: 3px solid orange !important;
	z-index: 2 !important;
}

.logo
{
	height: 4px !important;
	margin: 5px 10px !important;
}

.form-control
{
	margin-top: 9px;
	margin-left: 30px;
	border: 1px solid orange !important;
	border-top-left-radius: 20px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	box-shadow: none !important;

}

.input-group-text
{
	background: orange !important;
	border: 1px solid orange !important;
	margin: 8.5px 10px 3px 0;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 20 !important;
	border-bottom-right-radius: 20 !important;
	cursor: pointer;

}

.search-box
{
	display: inline-flex;
	width: 60%;	
}

.fa-search
{
	color: #fff;
}

.menu-bar
{
	width: 40% !important;
	height: 57px !important;
	float: right !important;
}

.menu-bar ul
{
	display:  inline-flex !important;
	float: right !important;
}

.menu-bar ul li
{   
	border-left: 1px solid #fff !important;
	list-style-type: none !important;
	padding: 15px 35px !important;
	text-align: center !important;
	background-color: orange !important;
	cursor: pointer;
}

.menu-bar ul li a
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.fa-shopping-basket
{
	margin-right: 5px;
}

@media only screen and (max-width: 980px)
{
	.top-nav-bar
	{
		height: 118px !important;
		border-bottom: 0;
	}

	.search-box
	{
		width: 100% !important;
	}

	.menu-bar
	{
		width: 100% !important;
	}

	.menu-bar ul
	{
		margin: 10px 0 !important;
		width: 100% !important;
	}

	.menu-bar ul li
	{
		height: 57px;
		width: 100% !important;
	}
}


/*-------------------Side Menu ----------------------*/

.side-menu
{
	height: 79% !important;
	width: 15% !important;
	font-size: 14px;
	float: left !important;
	z-index: 2 !important;
	background-color: #ddd;
}

.side-menu ul
{
	margin-left: 10px !important;
}

.side-menu ul li
{
	list-style-type: none ;
	font-weight: bold ;
	margin-top: 10px !important;
	cursor: pointer;
}

.side-menu ul li:hover 
{
	color: orange;
}

.side-menu ul li ul
{
	display: none ;
	z-index: 10 !important;
	top: 77px;
}

.side-menu ul li:hover ul
{
	display: block;
	height: 400px;
	margin-left: 14px !important;
	padding: 0 100px 10px 10px ;
	position: fixed !important;
	background: #ececec;
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5) !important;
}
 
.fa-angle-right
{
	margin-top: 4px ;
	margin-right: 8px;
	float: right;
}

#menu-btn, #close-btn
{
	font-size: 30px;
	margin: 10px;
	color: orange;
	display: none;
}


@media only screen and (max-width: 980px)
{
	.side-menu
	{
		width: 34%;
		z-index: 20;
		top: 33px;
		position: fixed;
		font-size: 12px;
		display: none;
	}

	.side-menu ul li ul
	{
		top: 133px;
	}

	.side-menu ul li:hover ul
	{
		margin-left: 31%; 
	}

	#menu-btn
	{
		display: block;
	}
}

/*------------------------------ Slider CSS ---------------------------*/

.slider
{
	width: 85%;
	margin-left: 15%;
	padding: 0 10px;
}

.carousel
{
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}

.carousel-indicators
{
	z-index: 1 !important;
}

@media only screen and (max-width: 980px)
{
	.slider
	{
		width: 100%;
		margin-left: 0;
	}
}

/*------------------------Featured-categories CSS-------------------*/

.featured-categories
{
	margin: 50px 0;
}

.featured-categories img
{
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
}

.featured-categories img:hover
{
	transform: scale(1.1);
}

/*------------------------On Sale Product CSS-----------------------*/

.title-box
{
	background: orange;
	color: #fff;
	width: 180px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
}

.title-box h2 
{
	font-size: 24px;
}

.title-box::after 
{
	content: '';
	border-top: 40px solid orange;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}


/*--------------------------Product-top CSS---------------------------*/

.product-top img
{
	width: 100%;
}

.overlay-right
{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px; 
}

.overlay-right .fa
{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin-top: 5%;	
	margin-bottom: 5%;
}

.overlay-right .btn-secondary
{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}

.product-top:hover .overlay-right
{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}


/*--------------------------Product Bottom CSS----------------------------*/

.product-bottom .fa
{
	color: orange;
	font-size: 10px;
}

.product-bottom h3
{
	font-size: 20px;
	font-weight: bold;
}

.product-bottom h5
{
	font-size: 15px;
	padding-bottom: 10px;
}