*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #f1f3f4;
	font-family: sans-serif;
}

.top-nav-bar
{
	height: 57px !important;
	position: sticky !important;
	background: #fff !important;
	margin-bottom: 3px solid orange !important;
	z-index: 2 !important;
}

.logo
{
	height: 4px !important;
	margin: 5px 10px !important;
}

.form-control
{
	margin-top: 9px;
	margin-left: 30px;
	border: 1px solid orange !important;
	border-top-left-radius: 20px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	box-shadow: none !important;

}

.input-group-text
{
	background: orange !important;
	border: 1px solid orange !important;
	margin: 8.5px 10px 3px 0;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 20 !important;
	border-bottom-right-radius: 20 !important;
	cursor: pointer;

}

.search-box
{
	display: inline-flex;
	width: 60%;	
}

.fa-search
{
	color: #fff;
}

.menu-bar
{
	width: 40% !important;
	height: 57px !important;
	float: right !important;
}

.menu-bar ul
{
	display:  inline-flex !important;
	float: right !important;
}

.menu-bar ul li
{   
	border-left: 1px solid #fff !important;
	list-style-type: none !important;
	padding: 15px 35px !important;
	text-align: center !important;
	background-color: orange !important;
	cursor: pointer;
}

.menu-bar ul li a
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.fa-shopping-basket
{
	margin-right: 5px;
}

@media only screen and (max-width: 980px)
{
	.top-nav-bar
	{
		height: 118px;
		border-bottom: 0;
	}

	.search-box
	{
		width: 100% !important;
	}

	.menu-bar
	{
		width: 100% !important;
	}

	.menu-bar ul
	{
		margin: 10px 0;
		width: 100% !important;
	}

	.menu-bar ul li
	{
		height: 57px;
		width: 100% !important;
	}
}